<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Apriori.Properties.Settings.AprioriConnectionString"
            connectionString="Data Source=DOBBY\SQLEXPRESS;Initial Catalog=Apriori;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="Apriori.Properties.Settings.Database2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database2.accdb"
            providerName="System.Data.OleDb" />
        <add name="Apriori.Properties.Settings.APConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\AP.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>